<div class="header-custom email-signup-thankyou">
  <div class="content">
    <div class="left-hole"></div>
    <div class="right-hole"></div>
    <div class="main-content">
      <h1>Success! You are signed-up.</h1>
      <p>Thank you for signing-up, it means a lot to us, just like you do! We really appreciate you giving us a moment of your time.</p>
      <p class="strong">Your Insitute code can be found in your welcome email.</p>

    </div>

  </div>
</div>