<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
            <h3>Welcome</h3>
            <p>You are 30 seconds away from new experience of portal!</p>
            <input type="submit" name="" value="Login"/><br/>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Login</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Apply as a Insitute Admin</h3>
                    <form  [formGroup]="registrationForm" (ngSubmit)="register()">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Insitute  Name *" value="" formControlName="title"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Address *" value="" formControlName="address" />
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Password *" value="" formControlName="password"/>
                                </div>
                            
                                <div class="form-group">
                                    <div class="maxl">
                                        <label class=""> 
                                            <input type="checkbox" name="condition" value="condition" formControllName="condition">
                                            <span> I Accept the term & Condition of Portal</span> 
                                        </label>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" value="" formControlName="email" />
                                </div>
                                <div class="form-group">
                                    <input type="number" class="form-control" placeholder="Pincode *" value=""  formControlName="pincode"/>
                                </div>
                                <div class="form-group">
                                    <input type="text" minlength="10" maxlength="10" name="txtEmpPhone" class="form-control" placeholder="Your Phone *" value=""  formControlName="contact"/>
                                </div>
                                
                                
                                <input type="submit" class="btnRegister"  value="Register"/>
                            </div>
                        </div>
                     </form>
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3  class="register-heading">Login To Portal</h3>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Insitute ID *" value="" />
                            </div>
                            
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email *" value="" />
                            </div>
                           


                        </div>
                        <div class="col-md-6">
                            
                           
                            <div class="form-group">
                                <select class="form-control">
                                    <option class="hidden"  selected disabled>Please select your Role</option>
                                    <option>Admin</option>
                                    <option>Teacher</option>
                                    <option>Student</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password *" value="" />
                            </div>
                            
                            <input type="submit" class="btnRegister"  value="Login"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>